<a class="anchor" id="accomplishments"></a>
<div class = "accomBackground">
    <div class = "details">
        <div class = "header"  data-aos-duration="800" data-aos-mirror = "true" data-aos-offset = "110"  data-aos-duration="800" data-aos-mirror = "true" data-aos="fade-right"  data-aos-duration="800" data-aos-mirror = "true" data-aos-duration="800"  data-aos-duration="800" data-aos-mirror = "true" data-aos-mirror = "true">
            ACCOMPLISHMENTS
        </div>
        <div class = "description">
              <div class="card-deck" style = "margin-bottom: 1vh;">
                <div class="card text-white bg-dark mb-3" style = "border: 0.5vh solid white; border-radius: 3vh;width: 27vw;"  data-aos-duration="800" data-aos-mirror = "true" data-aos="fade-down-right">
                    <div class="card-body">
                      <p class="card-text" style = "font-size: 2.7vh;">Four-time consecutive Indian National Champion, runner-up Asian Champion, and second runner-up World Champion in Pyraminx speedsolving, a triangular variation of the Rubik’s cube.</p>
                      <h5 class="card-title" style = "font-size: 3vh;">World Cube Association (WCA)</h5>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3" style = "border: 0.5vh solid white; border-radius: 3vh;width: 27vw;"  data-aos-duration="800" data-aos-mirror = "true" data-aos="fade-down">
                    <div class="card-body">
                      <p class="card-text" style = "font-size: 2.7vh;">Guinness World Record Holder for "Most pyraminxes solved in one hour." Solved 636 pyraminxes in 60 minutes, beating the previous record by 36 puzzles.</p>
                      <h5 class="card-title" style = "font-size: 3vh;margin-top:auto;">Guinness World Records (GWR)</h5>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3" style = "border: 0.5vh solid white; border-radius: 3vh;width: 30vw;"  data-aos-duration="800" data-aos-mirror = "true" data-aos="fade-down-left">
                    <div class="card-body">
                      <p class="card-text" style = "font-size: 2.7vh;">Ranked 97th and 87th globally at the International Mathematics and Cyber Olympiads respectively, conducted by the Science Olympiad Foundation in 2019</p>
                      <h5 class="card-title" style = "font-size: 3vh;">Science Olympiad Foundation (SOF)</h5>
                    </div>
                </div>
              </div>
              <div class="card-deck" style = "width: 60vw;margin-left: auto; margin-right: auto;overflow-y: hidden;">
                <div class="card text-white bg-dark mb-3" style = "border: 0.5vh solid white; border-radius: 3vh;width: 30vw;"  data-aos-duration="800" data-aos-mirror = "true" data-aos="fade-up-right">
                    <div class="card-body">
                      <p class="card-text" style = "font-size: 2.7vh;">Semi-Finalist in Code Gladiators 2020, India’s largest coding competition (top 3% of 267,000 participants)                    </p>
                      <h5 class="card-title" style = "font-size: 3vh;">Techgig.com</h5>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3" style = "border: 0.5vh solid white; border-radius: 3vh;width: 30vw;"  data-aos-duration="800" data-aos-mirror = "true" data-aos="fade-up-left">
                    <div class="card-body">
                      <p class="card-text" style = "font-size: 2.7vh;">Collegiate Learning Assessment+ Cerfified Advanced Critical Thinker (top 1% of college student participants)</p>
                      <h5 class="card-title" style = "font-size: 3vh;margin-top:auto;">Collegiate Learning Assessment (CLA)</h5>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
