
.aboutBackground{
    margin:0;
    padding:0;
    height: 98vh;
    width: 97.9vw;
    background-color:white;
    display:flex;
    border: 1vh solid black;
    border-top: 0.5vh;
}
.details{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    width: 100vw;
}
.details a{
    text-decoration: none;
}
.header{
    font-size: 14vh;
    margin-left: 1.2vw;
    margin-top: 0.3vh;
}
.description{
    font-size: 3.7vh;
    width: 71%;
    padding-left: 2.4vw;
    padding-top: 13.5vh;
    margin: auto;
    
}
.picture{
    height: 50vh;
    margin: auto;
    padding-bottom: 8vh;
    padding-right: 4vw;
}
img {
    border-radius: 10px;
    display: block;
    margin: auto;
    width: 25vw;
    border: 3px solid #ddd;
    padding: 15px;
  }
  a{
      color:black;
      font-weight: 400;
      text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }