<div class = "aboutBackground">
    <div class = "details">
        <div class = "header" data-aos-offset = "110" data-aos="fade-right" data-aos-duration="1000" data-aos-mirror = "true">
            ABOUT
        </div>
        <div class = "description" data-aos-offset = "120" [innerHTML] = "descriptionText" data-aos="zoom-in-up" data-aos-duration="1000" data-aos-mirror = "true">
        </div>
    </div>
    <div class = "picture" data-aos="flip-left" data-aos-offset = "120" data-aos-duration="1000" data-aos-mirror = "true">
        <img src="../../assets/aboutPicture.jpg" id = "pic"/>
    </div>
</div>
