<div class = "experienceBackground">
    <div class = "header" data-aos-offset = "110" data-aos="fade-right" data-aos-duration="1000" data-aos-mirror = "true">
        EXPERIENCE
    </div>    
    <div class="card-deck ml-5 mr-5 mt-3" style = "color:black; font-family: 'Roboto Condensed', sans-serif;">
        <div class="card mr-4" data-aos="flip-left" style = "border: 0.8vh solid black; border-radius: 3vh;">
          <div class="card-body">
            <h4 class="card-title">Minerva Project Inc.</h4>
            <h5 class="card-subtitle mb-2 text-muted">Technology Support Intern</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card mr-4" data-aos="flip-left" style = "border: 0.8vh solid black; border-radius: 3vh;">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card text-white bg-dark" data-aos="flip-left" style = "border: 0.5vh solid white; border-radius: 3vh;">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="card-deck ml-48 mt-4" style = "color:black; font-family: 'Roboto Condensed', sans-serif; width:63%; margin-left: auto; margin-right: auto;">
        <div class="card mr-4" data-aos="flip-left">
          <div class="card-body">
            <h4 class="card-title">Minerva Project Inc.</h4>
            <h5 class="card-subtitle mb-2 text-muted">Technology Support Intern</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card mr-4" data-aos="flip-left">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
</div>