.experienceBackground{
    margin:0;
    padding:0;
    height: 99.55vh;
    width: 98.65vw;
    background:rgb(41, 41, 41);
    color: white;
    border: 1vh solid white;
    overflow:hidden;
}

.header{
    padding: 0;
    font-size: 14.1vh;
    margin-left: 1.8vw;
    margin-top: 0;
    padding-top:0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}