<a class="anchor" id="experience"></a>
<div class = "experienceBackground">
    <div class = "header" data-aos-mirror = "true" data-aos-offset = "110" data-aos-mirror = "true" data-aos-duration = "800" data-aos="fade-right" data-aos-mirror = "true" data-aos-duration="1000" data-aos-mirror = "true" data-aos-mirror = "true">
        EXPERIENCE
    </div>    
    <div class="card-deck ml-5 mr-5 mt-3" style = "color:black; font-family: 'Roboto Condensed', sans-serif; overflow-y: hidden;">
        
      <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-left" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Minerva Project Inc.</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Technology Support Intern</h5>
          <p class="card-text">Monitored online sessions and provided solutions to technical issues. Triaged, reproduced, and addressed bug reports. Worked closely with engineers to ensure user satisfaction.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">September 2020 - April 2021</small></p>
        </div>
      </div>
        <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-right" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Tipp Corporation</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Full-Stack Developer Intern</h5>
          <p class="card-text">Developed an Admin web Database to supervise, execute, and encrypt payment requests; built the app within a month and provided thorough documentation.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">January 2021 - February 2021</small></p>
        </div>
      </div>
        
        <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-left" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">NolymitAI</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Software Engineering Intern</h5>
          <p class="card-text">Developed and improved multilingual AI chatbots for five clients and three company projects. Suggested, implemented, and deployed full-stack web changes.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">May 2020 - August 2020</small></p>
        </div>
      </div>
      </div>
      <div class="card-deck ml-48 mt-4" style = "color:black; font-family: 'Roboto Condensed', sans-serif; width:63%; margin-left: auto; margin-right: auto;overflow-y: hidden;">
        
        <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-right" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Museum of Dance</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Business Development Intern</h5>
          <p class="card-text">Improved & accelerated the process of applying to foundational & grant Art opportunities in the Bay Area by more than 30%. Created a detailed guidance flowchart.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">October 2019 - April 2020</small></p>
        </div>
      </div>
        
      <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-left" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Minerva Project Inc.</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Market Research Intern</h5>
          <p class="card-text">Analyzed, identified and reached out to suitable companies and individuals who are appropriate for an association with Minerva or for working with their students.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">September 2019 - May 2020</small></p>
        </div>
      </div>
      </div>
</div>