<a class="anchor" id="experience"></a>
<div class = "experienceBackground">
    <div class = "header" data-aos-mirror = "true" data-aos-offset = "110" data-aos-mirror = "true" data-aos-duration = "800" data-aos="fade-right" data-aos-mirror = "true" data-aos-duration="1000" data-aos-mirror = "true" data-aos-mirror = "true">
        EXPERIENCE
    </div>    
    <div class="card-deck ml-5 mr-5 mt-3" style = "color:black; font-family: 'Roboto Condensed', sans-serif; overflow-y: hidden;">
        
      <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-left" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Minerva Project Inc.</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Technology Support Intern</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">September 2020 - Present</small></p>
        </div>
      </div>
        <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-right" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Tipp Corporation</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Full-Stack Developer Intern</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">January 2021 - February 2021</small></p>
        </div>
      </div>
        
        <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-left" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">NolymitAI</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Software Engineering Intern</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">May 2020 - August 2020</small></p>
        </div>
      </div>
      </div>
      <div class="card-deck ml-48 mt-4" style = "color:black; font-family: 'Roboto Condensed', sans-serif; width:63%; margin-left: auto; margin-right: auto;overflow-y: hidden;">
        
        <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-right" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Museum of Dance</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Business Development Intern</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">October 2019 - April 2020</small></p>
        </div>
      </div>
        
      <div class="card text-white bg-dark" data-aos-mirror = "true" data-aos-duration = "600" data-aos="flip-left" style = "border: 0.5vh solid white; border-radius: 3vh;">
        <div class="card-body">
          <h4 class="card-title">Minerva Project Inc.</h4>
          <h5 class="card-subtitle mb-2" style = "color: rgba(150, 150, 150, 0.849)">Market Research Intern</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small style = "color: rgba(170, 170, 170, 0.932)">September 2019 - May 2020</small></p>
        </div>
      </div>
      </div>
</div>