<div class = "accomBackground">
    <div class = "header" data-aos-offset = "110" data-aos="fade-right" data-aos-duration="800" data-aos-mirror = "true">
        PROJECTS
    </div>
    <div class = "projs">
        <div class = "academic" data-aos="zoom-in-right" data-aos-duration="800" data-aos-mirror = "true">
            <div class = "subheader" >
                <h2>Academic</h2>
            </div>
            <div class = "units">
                <div class = "unit">
                    Regression and correlation analysis of housing prices 
                in King County, WA <a href = "https://docs.google.com/document/d/e/2PACX-1vQFDVq48q8L3n5qJTO-FFIR2q5muN7lT9WxjwgAUStOGJBVIhYBbOUvbWdXB8O3hjtn8JMAxoqZKj0K/pub"  target="_blank">(Link)</a> <br>
                </div> 
                <div class = "unit">
                    Word autocomplete bot based on frequencies built using Trie data structures <a href = "https://gist.github.com/anik8das/99801e55037b79be592a0a6de3f219e8">(Link)</a><br>
                
                </div>
                <div class = "unit">
                    Replication and enhancement of Nearest-neighbor matching used in a research paper about PTAs <a href = "https://docs.google.com/document/d/e/2PACX-1vR_lRYMEyaPAA7OAi5MxRmCC79IfdN0tPqOcbRY2amoO_a-fiY6tK6AhgFRZIcPADcNR-H6ABXpNdTV/pub">(Link)</a><br>
                
                </div>
                
                <div class = "unit">
                    Task scheduler based on dependencies and priorities using Heaps  <a href = "https://gist.github.com/anik8das/afde53b48cf7b376cc79271bfc5bb03f">(Link)</a>                    
                </div>
            </div>
        </div>
        <div class = "personal" data-aos="zoom-in-left" data-aos-duration="800" data-aos-mirror = "true">
            <div class = "subheader">
                <h2>Personal</h2>
            </div>
            <div class = "units">
                <ul class="list-unstyled">
                    <li>Home</li>
                    <li>Products
                        <ul>
                            <li>Gadgets</li>
                            <li>Accessories</li>
                        </ul>
                    </li>
                    <li>About Us</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
