<a class="anchor" id="projects"></a>
<div class = "projectBackground">
    <div class = "header" data-aos-offset = "110" data-aos="fade-right" data-aos-duration="800" data-aos-mirror = "true">
        PROJECTS
    </div>
    <div class = "projs">
        <div class = "academic"  data-aos="zoom-in-right" data-aos-duration="800" data-aos-mirror = "true" data-aos-offset = "100">
            <div class = "subheader" >
                <h2>Academic</h2>
            </div>
            <div class = "units">
              <div class="row" data-aos="flip-up" data-aos-duration="1000" data-aos-mirror = "true">
                <div class="col-sm-6">
                    <div class="card mb-3 m-1">
                        <div class="card-body">
                          <p class="card-text" style = "font-size: 2.75vh;">Word autocomplete bot based on frequencies built using Trie data structures</p>
                          <h5 class="card-title" style = "font-size: 2.4vh;">May 2020</h5>
                          <a href="https://gist.github.com/anik8das/99801e55037b79be592a0a6de3f219e8" class="btn btn-secondary text-white" > Assignment Link </a>
                        </div>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-3 m-1">
                        <div class="card-body">
                          <p class="card-text" style = "font-size: 2.75vh;">Regression and correlation analysis of housing prices 
                            in King County, WA</p>
                          <h5 class="card-title" style = "font-size: 2.4vh;">May 2020</h5>
                          <a href="https://docs.google.com/document/d/e/2PACX-1vQFDVq48q8L3n5qJTO-FFIR2q5muN7lT9WxjwgAUStOGJBVIhYBbOUvbWdXB8O3hjtn8JMAxoqZKj0K/pub" class="btn btn-secondary text-white">Assignment Link</a>
                        </div>
                      </div>
                </div>
              </div>
              <div class="row" data-aos="flip-up" data-aos-duration="1000" data-aos-mirror = "true">
                <div class="col-sm-6">
                  <div class="card m-1">
                    <div class="card-body">
                      <p class="card-text" style = "font-size: 2.75vh;">Task scheduler based on dependencies and priorities using Heaps</p>
                      <h5 class="card-title" style = "font-size: 2.4vh;">May 2020</h5>
                      <a href="https://gist.github.com/anik8das/afde53b48cf7b376cc79271bfc5bb03f" class="btn btn-secondary text-white">Assignment Link</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card bg-light m-1">
                    <div class="card-body">
                      <p class="card-text" style = "font-size: 2.75vh;">Replication & enhancement of Nearest-neighbor matching used in a PTA research paper</p>
                      <h5 class="card-title" style = "font-size: 2.4vh;">May 2020</h5>
                      <a href="https://docs.google.com/document/d/e/2PACX-1vR_lRYMEyaPAA7OAi5MxRmCC79IfdN0tPqOcbRY2amoO_a-fiY6tK6AhgFRZIcPADcNR-H6ABXpNdTV/pub" class="btn text-white btn-secondary">Assignment Link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class = "personal" data-aos="zoom-in-left" data-aos-duration="800" data-aos-mirror = "true" data-aos-offset = "100">
            <div class = "subheader">
                <h2>Personal</h2>
            </div>
            <div class = "units">
                <div class="row" data-aos="flip-up" data-aos-duration="1000" data-aos-mirror = "true">
                    <div class="col-sm-6">
                      <div class="card mb-3 m-1">
                        <div class="card-body">
                          <p class="card-text" style = "font-size: 2.75vh;">Stock recommender for value investing & options trading using trend & statistic analysis</p>
                          <h5 class="card-title" style = "font-size: 2.4vh;">May 2020</h5>
                          <a href="https://github.com/anik8das/Options_Trading_Recommendor" class="btn btn-secondary text-white">Github Link</a>
                        </div>
                      </div>
    
                    </div>
                    <div class="col-sm-6">
                        <div class="card mb-3 m-1">
                            <div class="card-body">
                              <p class="card-text" style = "font-size: 2.75vh;">Light and Sound memory game with multiple lives to apply for CodePath's SITE Program.</p>
                              <h5 class="card-title" style = "font-size: 2.4vh;">May 2020</h5>
                              <a href="https://github.com/anik8das/Light-and-sound-memory-game" class="btn btn-secondary text-white">Github Link</a>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="row" data-aos="flip-up" data-aos-duration="1000" data-aos-mirror = "true">
                    <div class="col-sm-6">
                      <div class="card m-1">
                        <div class="card-body">
                          <p class="card-text" style = "font-size: 2.75vh;">Chrome extension to remove line breaks while copying using a custom key combination</p>
                          <h5 class="card-title" style = "font-size: 2.4vh;">May 2020</h5>
                          <a href="https://github.com/anik8das/Line_Break_Remover" class="btn btn-secondary text-white"> Github Link </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card bg-light m-1">
                        <div class="card-body">
                          <p class="card-text" style = "font-size: 2.75vh;">Quiz app using React.js for front-end and Express.js along with MongoDB for back-end </p>
                          <h5 class="card-title">May 2020</h5>
                          <a href="https://github.com/anik8das/Quiz-app" class="btn text-white btn-secondary">Github Link</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
