#navbarr{
    font-family: 'Roboto Condensed', sans-serif;
    transition-duration: 2s;
}
.navcontainer:hover #navbarr {
    transition-duration: 0s;
    opacity:1 !important;  /*when parent is hovered */
  }

#navbarr:hover{
    opacity: 1;
}