<div class = "navcontainer">
    <nav id = "navbarr" class="animate__fadeInDown navbar fixed-top navbar-expand-lg navbar-dark" style = "background-color:rgb(30, 30, 30); padding:2vh;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item mr-5">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="#experience">Experience</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="#accomplishments">Accomplishments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#connect">Connect</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>