<a class="anchor" id="connect"></a>
<div class = "connectBackground">
    <div class = "details">
        <div class = "header" data-aos-offset = "110" data-aos="fade-right" data-aos-duration="800" data-aos-mirror = "true">
            CONNECT WITH ME!
        </div>
        <div class = "icons">
            <div class = "upper-icons" data-aos="zoom-in-up" data-aos-offset = "110" data-aos-duration="800" data-aos-mirror = "true">
                <div class = "my-icon-class-top zoom">
                    <a href = "https://www.linkedin.com/in/anik8das" target = "_blank">
                    <fa-icon [icon]="faLinkedin" size = "8x"></fa-icon>
                    <div class = "icon-header">
                        LinkedIn
                    </div>
                </a>
                </div>
                <div class = "my-icon-class-top zoom">
                    <a href = "https://github.com/anik8das/" target = "_blank">
                    <fa-icon [icon]="faGithubSquare" size = "8x"></fa-icon>
                    <div class = "icon-header">
                        GitHub
                    </div>
                    </a>
                </div>
                <div class = "my-icon-class-top zoom">
                    <a href = "https://www.youtube.com/channel/UCuAu5z1mpo_0NvY2e9UVMbg" target = "_blank">
                    <fa-icon [icon]="faYoutubeSquare" size = "8x"></fa-icon>
                    <div class = "icon-header">
                        YouTube
                    </div>
                    </a>
                </div>
                <div class = "my-icon-class-top zoom">
                    <a href = "https://www.instagram.com/anik8das/" target = "_blank">
                    <fa-icon [icon]="faInstagramSquare" size = "8x"></fa-icon>
                    <div class = "icon-header">
                        Instagram
                    </div>
                    </a>
                </div>
            </div>
            <div class = "lower-icons" data-aos="zoom-in-down" data-aos-offset = "110" data-aos-duration="800" data-aos-mirror = "true">
                <div class = "my-icon-class-bottom zoom">
                    <a href = "https://www.facebook.com/anik8das" target = "_blank" >
                    <fa-icon [icon]="faFacebookSquare" size = "8x"></fa-icon>
                    <div class = "icon-header" >
                        Facebook
                    </div>
                    </a>
                </div>
                <div class = "my-icon-class-bottom zoom" >
                    <a href = "mailto: aniket@minerva.kgi.edu" target = "_blank">
                    <fa-icon [icon]="faEnvelopeSquare" size = "8x"></fa-icon>
                    <div class = "icon-header">
                        Email
                    </div>
                    </a>
                </div>
                <div class = "my-icon-class-bottom zoom" >
                    <a href = "https://twitter.com/anik8das" target = "_blank">
                    <fa-icon [icon]="faTwitterSquare" size = "8x"></fa-icon>
                    <div class = "icon-header">
                        Twitter
                    </div>
                    </a>
                </div>
            </div>  
        </div>
    </div>
</div>
